<ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
        <ion-title class="ion-text-center">
            EL BUSCADOR FELINO
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="fondo1">
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-sm="2"></ion-col>
                <ion-col size="12" size-sm="5">
                    <ion-row>
                        <ion-col size="12">
                            <ion-item>
                                <ion-label>Raza felina</ion-label>
                                <ion-select (ionChange)="cambio()" [(ngModel)]="id" mode="ios" value="abys"
                                            okText="Seleccionar" cancelText="Cancelar">
                                    <ion-select-option *ngFor="let item of items"
                                                       value="{{item.id}}">{{item.name}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">
                            <p class="ion-text-right"><b>ID </b></p>
                        </ion-col>
                        <ion-col size="8">
                            <p>{{animal.id}}</p>
                        </ion-col>

                        <ion-col size="4">
                            <p class="ion-text-right"><b>Nombre </b></p>
                        </ion-col>
                        <ion-col size="8">
                            <p>{{animal.name}}</p>
                        </ion-col>

                        <ion-col size="4">
                            <p class="ion-text-right"><b>Descripción </b></p>
                        </ion-col>
                        <ion-col size="8">
                            <p>{{animal.description}}</p>
                        </ion-col>

                        <ion-col size="4">
                            <p class="ion-text-right"><b>Años de vida </b></p>
                        </ion-col>
                        <ion-col size="8">
                            <p>{{animal.life_span}}</p>
                        </ion-col>

                        <ion-col size="4">
                            <p class="ion-text-right"><b>Origen</b></p>
                        </ion-col>
                        <ion-col size="8">
                            <p>{{animal.origin}}</p>
                        </ion-col>

                        <ion-col size="4">
                            <p class="ion-text-right"><b>Wiki</b></p>
                        </ion-col>
                        <ion-col size="8">
                            <p><a href="{{animal.wikipedia_url}}" target="_blank">{{animal.wikipedia_url}}</a></p>
                        </ion-col>

                        <ion-col size="4">
                            <p class="ion-text-right"><b>Vetstreet</b></p>
                        </ion-col>
                        <ion-col size="8">
                            <p><a href="{{animal.vetstreet_url}}" target="_blank">{{animal.vetstreet_url}}</a></p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="12" size-sm="3">
                    <ion-card>
                        <ion-card-content>
                            <p class="ion-text-center">
                                <ion-spinner *ngIf="animal.image.url == ''" name="bubbles"></ion-spinner>
                            </p>
                            <img src="{{animal.image.url}}"/>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-sm="2"></ion-col>
            </ion-row>
        </ion-grid>
        <br/>
        <br/>
        <br/>
    </div>
</ion-content>
